*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  background-image: url('./images/background-2_compressed.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center top
}

/* Estilize o elemento .banner para ocupar a página inteira */
.banner {
  position: fixed; /* Alterando de absolute para fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Estilize o elemento <video> para cobrir a página inteira */
.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Certifica-se de que o vídeo ocupe todo o espaço do contêiner mantendo a proporção */
}

#vanta {
   z-index: -1;
}

#container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  z-index: 999;
}

.infoContainer .profileImage {
  border-radius: 100%;
  height: 120px;
}

.infoContainer .box {
  position: relative; /* Mantendo position: relative */
  margin-top: 0px; /* Ajuste o valor conforme necessário */
  z-index: -20;
  max-width: 438px;
  max-height: 143px;
  margin-bottom: -133px;
}

.infoContainer .username{
  font-family: 'Pharmount Personal Use Only', sans-serif;
  color: #62000000;
  margin-top: 10px;
  font-size: 5rem;
  position: relative;
  top: 4px;
  left: -1px;
}

.infoContainer .usernameVERMELHO{
  font-family: 'Pharmount Personal Use Only', sans-serif;
  color: #620000;
  margin-top: 10px;
  font-size: 5rem;
  text-shadow: 1px 1px 2px #ff0000,
	1px 4px 6px rgba(16,16,16,0.4),
	1px 9px 10px rgba(16,16,16,0.2),
	1px 10px 35px rgba(16,16,16,0.2),
	1px 13px 60px rgba(16,16,16,0.4);
  position: relative;
  top: 4px;
  left: -1px;
}

.infoContainer .OABx{
  font-family: 'Nunito', sans-serif;
  color: #62000000;
  margin-top: 19px;
  font-size: 12px;
  position: relative;
  bottom: 28px;
}

.infoContainer .OAB{
  font-family: 'Nunito', sans-serif;
  color: #620000;
  margin-top: 19px;
  font-size: 12px;
  position: relative;
  bottom: -5px;
  text-shadow: 1px 1px 2px #ff0000,
	1px 4px 6px rgba(16,16,16,0.4),
	1px 9px 10px rgba(16,16,16,0.2),
	1px 10px 35px rgba(16,16,16,0.2),
	1px 13px 60px rgba(16,16,16,0.4);
  background-color: #fff;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.infoContainer .OABx{
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  margin-top: 19px;
  font-size: 12px;
  position: relative;
  bottom: -6px;
  text-shadow: 1px 1px 2px #000000,
	1px 4px 6px rgba(16,16,16,0.4),
	1px 9px 10px rgba(16,16,16,0.2),
	1px 10px 35px rgba(16,16,16,0.2),
	1px 13px 60px rgba(16,16,16,0.4);
}

h3{
  font-family: 'Nunito', sans-serif;
  color: #620000;
  font-size: 12px;
  position: relative;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.infoContainer ul{
    width: 100%;
    overflow: scroll;
    margin-top: 8px;
	overflow-x: clip;
  }

.infoContainer ul li{
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
  height: 5vh;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  margin-bottom: 10px;
}

.infoContainer ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.6);
  transform: translateY(2px);
}

.infoContainer ul a{
  text-decoration: none;
}

i{
  margin-right: 10px;
  font-size: 18px;
}

.fa-scale-balanced{
  color: #eac117;
}
.fa-whatsapp{
  color: #25d366;
}
.fa-envelope{
  color: #c48240;
}
.fa-phone-flip{
  color: #43e543;
}
.fa-id-card{
  color: #93ae8b;
}
.fa-instagram{
  color: #f44747;
}
.fa-facebook{
  color: #3b5998;
}
.fa-file-invoice{
  color: #9ca6ad;
}
.fa-linkedin{
  color: #0072b1;
}
.fa-twitter{
  color: #00acee;
}
.fa-share-nodes{
  z-index: -1;
  color:#4d894d;
}
.fa-qrcode{
  color: white;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-thumb{
  background-color: #7c0115;
  border-radius: 100rem;
}	

/* RESPONSIVE CSS CODE */
@media(max-width: 1033px){
  .infoContainer ul li{
    width: 45%;
  }
}

@media(max-width: 704px){
  .infoContainer ul li{
    width: 60%;
    height: 5vh;
    padding: 10px 0;
  }
	.infoContainer .username{
		top: 8px;
		font-size: 4.7rem;
	}
	.infoContainer .OAB{
		bottom: -22px;
	}
	.infoContainer ul{
	    margin-top: 20px;
}

@media(max-width: 500px){
  .infoContainer ul li{
    width: 75%;
  }
}

@media(min-aspect-radio: 16/9){
  .banner video{
    width: 100%;
    height: auto;
  }
}