.ff0{font-family:sans-serif;visibility:hidden;}
.m0{transform:matrix(1.700000,0.000000,0.000000,1.700000,0,0);-ms-transform:matrix(1.700000,0.000000,0.000000,1.700000,0,0);-webkit-transform:matrix(1.700000,0.000000,0.000000,1.700000,0,0);}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:-0.850000px;}
.h0{height:1460.232000px;}
.h1{height:1461.150000px;}
.w0{width:1040.808000px;}
.w1{width:1041.250000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:-0.666667pt;}
.h0{height:1145.280000pt;}
.h1{height:1146.000000pt;}
.w0{width:816.320000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
}
