* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #860000;
  color: white;
  font-family: "Inconsolata", monospace;
  font-size: 100%;
}

.maintenance {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.container {
  display: table;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  align-content: center;
  position: relative;
  box-sizing: border-box;
}
.container .what-is-up {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
  display: block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}
.container .what-is-up .spinny-cogs {
  display: block;
  margin-bottom: 2rem;
}

.assinatura {
	margin: 3vh;
}

@-webkit-keyframes fa-spin-one {
  0% {
    transform: translateY(-2rem) rotate(0deg);
  }
  100% {
    transform: translateY(-2rem) rotate(-359deg);
  }
}
@keyframes fa-spin-one {
  0% {
    transform: translateY(-2rem) rotate(0deg);
  }
  100% {
    transform: translateY(-2rem) rotate(-359deg);
  }
}
.fa-spin-one, .container .what-is-up .spinny-cogs .fa:nth-of-type(1) {
  -webkit-animation: fa-spin-one 1s infinite linear;
  animation: fa-spin-one 1s infinite linear;
}

@-webkit-keyframes fa-spin-two {
  0% {
    transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
  }
  100% {
    transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
  }
}
@keyframes fa-spin-two {
  0% {
    transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
  }
  100% {
    transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
  }
}
.fa-spin-two, .container .what-is-up .spinny-cogs .fa:nth-of-type(3) {
  -webkit-animation: fa-spin-two 2s infinite linear;
  animation: fa-spin-two 2s infinite linear;
}

.dots {
  display: inline-block; /* Garante que o span ocupe apenas o espaço necessário */
}

.dots:after {
  content: "...";
  display: inline-block; /* Garante que o conteúdo pseudo-elemento seja exibido na mesma linha */
  animation: dots 1.5s infinite steps(1);
}

@keyframes dots {
  0% { content: ""; }
  25% { content: "."; }
  50% { content: ".."; }
  75% { content: "..."; }
}

.maintenancedots {
  text-transform: uppercase;
  margin-bottom: -2rem;
  font-size: 3rem;
  position: relative;
  top: -2.2rem;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.15;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 768px) {
  /* Estilos para telas menores que 768px de largura */
	.container .what-is-up {
	  top: 40%;
	}
	.maintenance {
	  font-size: 6vh;
	  
	}
	.assinatura {
		margin: 2vh;
		top: 2vh;
		position: relative;
	}
  h2 {
    font-size: 3vh;
    text-align: center;
	padding: 0 3px;
  }
}


